html,
body {
  padding: 0;
  margin: 0;
  font-family:  monospace, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  color:'white';
}
.title {
  font-size:30px;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}
